<p>购物车</p>
<div class="ul">
    <div class="li" *ngFor="let li of chatList; index as i;">
        <h3>{{i +'-'+ li.name}}</h3>
        <p>{{li.description}}</p>
        <hr>
    </div>
</div>
<div>
    <h3>价格列表1</h3>
    <p *ngFor="let li of prices | async">{{li.type + ':' + li.price}}</p>
    <h3>价格列表2</h3>
    <p *ngFor="let li of pricesList">{{li.type + ':' + li.price}}</p>
</div>

<form [formGroup]="checkForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">名字</label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="address">地址</label>
        <input id="address" type="text" formControlName="address">
    </div>
    <button type="submit">提交</button>
</form>