<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<app-top-bar></app-top-bar>
<!-- Toolbar -->
<div class="content" role="main">
  <div class="card highlight-card card-small">
    <span>{{ title + '---' + haha }} app is running!</span>
  </div>
  <!-- <h2>Resources</h2> -->
  <!-- <p>Here are some links to help you get started:</p> -->
  <!-- <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      <span>Learn Angular</span>
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>CLI Documentation</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://material.angular.io">
      <span>Angular Material</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
      <span>Angular Blog</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/devtools/">
      <span>Angular DevTools</span>
    </a>
  </div> -->
  <div>
    <p [id]="sayHelloId" [style.color]="fontColor" (click)="sayMessage()">
      You can set my color in the component!
    </p>
    <p>{{message}}</p>
    <button type="button" (click)="onEditClick()">Make text editable!</button>

    <div *ngIf="canEdit; else noEdit">
      <p>You can edit the following paragraph.</p>
    </div>

    <ng-template #noEdit>
      <p>The following paragraph is read only. Try clicking the button!</p>
    </ng-template>
  </div>
  <!-- <h2>Next Steps</h2> -->
  <!-- <p>What do you want to do next with your app?</p> -->

  <!-- <input type="hidden" #selection>
  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>New Component</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Angular Material</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Add PWA Support</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
      <span>Add Dependency</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'test'" tabindex="0">
      <span>Run and Watch Tests</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <span>Build for Production</span>
    </button>
  </div>
  <div class="terminal" [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>ng generate component xyz</pre>
    <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
    <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
    <pre *ngSwitchCase="'dependency'">ng add _____</pre>
    <pre *ngSwitchCase="'test'">ng test</pre>
    <pre *ngSwitchCase="'build'">ng build</pre>
  </div> -->
</div>

<router-outlet></router-outlet>